.book-title {
    display: block;
    color: #343233;
    text-align: center;
    font-size: 2.5em;
    line-height: 1.8;
}

.sub-title {
    display: block;
    color: #585858;
    text-align: center;
    font-size: 1.8em;
    line-height: 1.8;
}

.book-number {
    display: block;
    color: #343233;
    text-align: center;
    font-size: 1.8em;
    line-height: 1.8;
}

.author {
    display: block;
    font-size: 1.5em;
    text-align: center;
    color: #585858;
}

.chapter {
    display: block;
    font-size: 1.5em;
    text-align: center;
    line-height: 1.8;
    color: #343233;
}


.citation {
    color: #897335;
}

p > .root-text {
    color: #8b1409;
    line-height: 1;
    text-align: justify;
    margin-left: 20px;
}

.sabche {
    text-align: justify;
    color: #005e7f;
}

.yigchung {
    font-size: 0.75em;
    color: #343233;
}

.book-title[class]:hover::after,
.sub-title[class]:hover::after,
.book-number[class]:hover::after,
.author[class]:hover::after,
.chapter[class]:hover::after
{
    content: attr(class);
    position: absolute;
    color: #777777;
    border: 1px #aaaaaa solid;
    border-radius: 5px;
    padding: 0 5px;
    font-size: 1rem;
    margin-left: 5px;
    z-index: 3;
}